<h1>The Battle of the Neighborhoods</h1>

<h2>Problem</h2>
I want to open an Italian Restaurant in Mexico City and I want to know what would be a good location.
Mexico City is one of the most populated areas in the world, and for this reason there are a lot of restaurant of many types.
The objetive is to use clusteing to determine the area less populated of Italian Restaurant in order to start looking for a place available.

<h2>Information gathered</h2>

I got the neigborhood dataset in csv of Mexico City with coordinates, the only problem is that the latitude and logitude are in the same column separated by comma

I am goint to use the information of the neighborhoods in order so look in Foursquare the restaurant density and see where are less restaurant saturation for Italian Restaurant in each cluster.

In [1]:
# Import modules
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

print('Libraries imported.')

Libraries imported.

In [3]:
df = pd.read_csv("mex_neigh.csv")
df.head()

,COLONIA,Geo Point,ALCALDIA
0,LOMAS DE CHAPULTEPEC,"19.4228411174,-99.2157935754",MIGUEL HIDALGO
1,LOMAS DE REFORMA (LOMAS DE CHAPULTEPEC),"19.4106158914,-99.2262487268",MIGUEL HIDALGO
2,DEL BOSQUE (POLANCO),"19.4342189235,-99.2094037513",MIGUEL HIDALGO
3,PEDREGAL DE SANTA URSULA I,"19.314862237,-99.1477954505",COYOACAN
4,AJUSCO I,"19.324571116,-99.1561602234",COYOACAN